<main>

	<h2>You are viewing:

		{{donut.name}}

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

				{{donut.name}}

		</h2>

				<img src="{{donut.img}}" alt="picture of {{donut.name}}">

		<br>
		<h3>Description:</h3>
			<p>

				{{donut.description}}

			</p><br>
		<h3>Price:</h3>
			<p id="cost">$

				{{donut.price}} each</p><br>

			<h3 id="quantity">

					{{#if donut.qty}}

	 					{{donut.qty}} remaining

						<form action="/{{donut._id}}/buy/1?_method=PUT" method='POST'>
							<button id='buy' type='submit'>Buy</button>
						</form>

					{{else}}

						Out of stock

					{{/if}}

			</h3>

			<br>

			<a href="/{{donut._id}}/edit">Edit</a>

			<form action="/{{donut._id}}?_method=DELETE" method="POST">
				<button type='submit' value='Delete'>Delete</button>
			</form>
			
		</div>


</main>
